# Ignore default build output directories
/target/
!/src/main/**/target/
!/src/test/**/target/

# Maven specific wrapper
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA specific files
.idea/

# Eclipse specific files
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans specific files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!/src/main/**/build/
!/src/test/**/build/

# VS Code specific files
.vscode/

# Mac OS specific files
.DS_Store

# Include specific .jar file
!/out/artifacts/grafos_mst_jar/
!/out/artifacts/grafos_mst_jar/grafos_mst.jar